body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#optionsDiv {
  position: absolute;
  bottom: 18%;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  text-align: center;
}

.dashboard-button {
  cursor: pointer;
  border-radius: 4px
}

.map {
height: 75vh;
width:100vw
}

/* .charts {
  width: 30vw;

} */
/* .header {
  grid-area: header;
  background: #B93D3D;
}
.sidebar {
  grid-area: sidebar;
  background: #490303;
  color: white;
}
.data {
  grid-area: data;
  background-color: #710909;
  color:white;
  width: 100%;
} */
#panel-closed {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: #252429;
  color: #48484A
}

#panel {
  margin-top: 80%;
  width: 200px;
  height: 450px;
}

#panel-details {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: #9E9E9F
}
#buttonWidget {
  background-color: #25242900;
  border: none;
  color: white;
}

.icons {
  max-height: 40px;
  max-width: 40px;
  padding-top: 10px;
  margin-right: 10px
}

.panel-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%

}
.esri-legend__message {
  display: none;
}

.esri-widget.esri-component.esri-widget-button.esri-interactive{
  color: #48484A;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  
}
.esri-attribution__sources.esri-interactive button {
  background-color: #303030;
  color:rgba(255, 255, 255, 0.899);
  border: none;
  font-size: 15px;
  margin: 5px;
  font-weight: 100;
  padding: 5px;
}

.esri-component,
.esri-widget,
.esri-widget-button, 
.esri-interactive {
  background-color: #202020;
  color:white;
  border: .1px solid darkgray;
  font-weight: 900;
}
.esri-icon-pan,
.esri-icon-rotate {
  color: white;
}
.esri-icon-pan:hover,
.esri-icon-rotate:hover {
  color: black;
}
.esri-widget.esri-component.esri-widget-button.esri-interactive {
  padding: 5px;
}



li.tab-list-item{
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  color: black;
}


.esri-component esri-basemap-toggle esri-widget {
  margin: 40px;
}
.esri-ui-manual-container>.esri-component {
  color: #202020;
}

.denied-container{
  display: flex;
  justify-content: center;
  margin-top: 250px; 
}

.denied-button {
  border-radius: 5px;
  background: green;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  margin-right: 15px;
  width: 140px;
  height: 40px;
}

.denied-button:hover {
  color: white;
  background-color: #51495D;
}
.esri-ui-manual-container>.esri-component:hover {
  cursor: pointer;
}

.esri-attribution__sources.esri-interactive button:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: #303030;
}
/* .esri-basemap-thumbnail.esri-basemap-toggle__ */


.esri-ui-corner.esri-component {
  display: flex;
  /* flexdirection */
}

.return-home-container{
  display: flex;
  height: 25px;
  justify-content: flex-end;
  background-color: rgb(32,32,32)
}

.return-home-button {
  background-color: rgb(32,32,32);
  border: none;
}

.dashboard-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(32,32,32)
}

.dashboard-logo {
  margin-left: 6.5px;
}

.logout-container {
  margin-left: auto;
  margin-right: 20px;
}

.logout-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  border: none;
  background: #51495D;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  right: 0;
}