body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#optionsDiv {
  position: absolute;
  bottom: 18%;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  text-align: center;
}

.dashboard-button {
  cursor: pointer;
  border-radius: 4px
}

/* .wrapper {
 display: grid;
 grid-template-rows: 5% 15% auto;
 grid-template-areas: 
   "sidebar"
   "map";
  height: 100vh;
  width: 100vw;
} */

.map {
height: 75vh;
width:100vw
}

/* .charts {
  width: 30vw;

} */
/* .header {
  grid-area: header;
  background: #B93D3D;
}
.sidebar {
  grid-area: sidebar;
  background: #490303;
  color: white;
}
.data {
  grid-area: data;
  background-color: #710909;
  color:white;
  width: 100%;
} */
#panel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: #252429;
  color: #48484A
}

#panel.panel-expanded {
  width: 250px;
  height: 80vh;
}

#panel-details {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: #9E9E9F

}
.icons {
  max-height: 40px;
  max-width: 40px;
  padding-top: 10px;
  margin-right: 10px
}

.panel-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%

}
.esri-legend__message {
  display: none
}

.esri-widget.esri-component.esri-widget-button.esri-interactive{
  color: #48484A;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  
}
.esri-attribution__sources.esri-interactive button {
  background-color: #303030;
  color:rgba(255, 255, 255, 0.899);
  border: none;
  font-size: 15px;
  margin: 5px;
  font-weight: 100;
  padding: 5px;
}

.esri-component,
.esri-widget,
.esri-widget-button, 
.esri-interactive {
  background-color: #202020;
  color:white;
  border: .1px solid darkgray;
  font-weight: 900;
}
.esri-icon-pan,
.esri-icon-rotate {
  color: white;
}
.esri-icon-pan:hover,
.esri-icon-rotate:hover {
  color: black;
}
.esri-widget.esri-component.esri-widget-button.esri-interactive {
  padding: 5px;
}

.add-menu-container{
  background-color: rgba(206, 210, 227, 0.6);
  height:500px;
  width: 600px;
  padding: 0;
}

li.tab-list-item{
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  color: black;
}

.form-input{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.form-input h4{
  margin: 0;
  height: 20px;
  width: auto;
}

.radio-button-container{
  display: flex;
  justify-content: space-between;
  width: auto;
}

.add-new-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  align-self: center;
}

.add-new-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.esri-component esri-basemap-toggle esri-widget {
  margin: 40px;
}

.esri-ui-manual-container>.esri-component {
  /* display: none; */
}

.denied-container{
  display: flex;
  justify-content: center;
  margin-top: 250px; 
}

.denied-button {
  border-radius: 5px;
  background: green;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  margin-right: 15px;
  width: 140px;
  height: 40px;
}

.denied-button:hover {
  color: white;
  background-color: #51495D;
}