.footer-wrapper {
  background-color: #202020;
  height: 200px;
}

.data-containers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#patient-data, 
#service-area,
#due-this-month,
#healthworker-data {
  background-color: lightgrey;
  height: 150px;
  width: 200px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

#add-button {
  width:100px;
  height:40px;
  margin: 10px;
  background: #51495D;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
#add-button:hover {
  color: #51495D;
  background-color: white;
}


