.landing-main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/AfricaRoad.png');
  /* background: #03121D; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.about-button{
  position: absolute;
  right: 0;
  top: 0;
  justify-self: flex-start;
  border-radius: 5px;
  color: white;
  background: #51495D;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  margin-right: 15px;
  width: 140px;
  height: 40px;
}
.about-button:hover {
  color: #51495D;
  background-color: white;
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  background-color: rgb(43,43,41, 0.94);
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
}

.landing-button {
  /* margin-top: 15px; */
  width: 175px;
  height: 40px;
  border-radius: 5px;
  color: white;
  border: none;
  background: #51495D;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.landing-button:hover {
  color: #51495D;
  background-color: white;
}

.landing-name {
  font-family: 'Raleway', sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px
}

.landing-mission {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1.2px;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}