.landing-main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/AfricaRoad.png');
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(170, 135, 135, 0.8);
  color: white;
  border-radius: 20px;
}

.landing-button {
  margin-top: 15px;
  width: 175px;
  height: 40px;
  border-radius: 5px;
  color: white;
  border: none;
  background: teal;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.landing-button:hover {
  color: teal;
  background-color: white;
}

.landing-name {
  font-family: 'Cinzel', serif;
}

.landing-mission {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-align: center;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}