.slider-button {
  position:absolute;
  z-index: 100;
  right: 14px;
  top: 20px;
  cursor: pointer;
  background-color: #30303000;
  border: none;
  color: white;
}

.slideout-subheader-question-container{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

#info-div1{
  display: none
}

#info-div2{
  display: none
}

#info-div3{
  display: none
}

.question-mark:hover #info-div1{
  display: block;
  position: absolute;
  right:0;
  margin: 10px;
  padding: 10px;
  background: #252429;
  color:#D8DBE7;
  z-index: 10;
}
.question-mark2:hover #info-div3{
  display: block;
  position: absolute;
  right:0;
  margin: 10px;
  padding: 10px;
  background: #252429;
  color:#D8DBE7;
  z-index: 10;
}