.slider-button {
  position:absolute;
  z-index: 100;
  right: 14px;
  top: 60px;
  cursor: pointer;
  background-color: #30303000;
  border: none;
  color: white;
}

.slideout-subheader-question-container{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

#info-div{
  display: none
}
.question-mark:hover #info-div{
  display: block;
  position: absolute;
  right:0;
  background: white;
  color: black
}